<div class="leaf-wrapper" ng-init="leaf = leafCtrl.leafData;" ng-if="leafCtrl">

  <div class="leaf-container">
    <div class="leaf-infos"
         ng-click="leafCtrl.trunk.selectLeaf(leafCtrl, $event)"
         ng-class="{'selected': leafCtrl.leafData.isSelected()}">
      
      <span class="icon"
            ng-click="leafCtrl.toggleExpanded($event);"
            ng-show="leaf.hasChildren()"
            ng-class="leaf.isExpanded() ? 'icon-angle-down':'icon-angle-right'">
      </span>

      <span class="title">{{ leaf.getLabel() +' - '+ leaf.isSelected() }}</span>
    </div>

    <div class="tree-list" ng-show="leaf.isExpanded()">
      <tree-leaf
        ng-repeat="childrenLeafs in leaf.getLeafs()"
        trunk="leafCtrl.trunk"
        leaf-data="childrenLeafs"
      ></tree-leaf>
    </div>
  </div>
</div>