@import "../../_global.variables";

$icon-btn-height: $default-button-height;
$icon-btn-width: 20px;
$container-height: 40px;


.leaf-wrapper {
  position: relative;
  margin-left: 5px;

  .leaf-container {
    padding-left: 15px;
  }
}
