<li class="leaf-wrapper" ng-init="leaf = lefCtrl.leafData;">

  <div class="leaf-container" ng-click="lefCtrl.trunk.selectLeaf(lefCtrl, $event)">
    <span class="icon" ng-show="leaf.hasChildren()" ng-class="leaf.isExpanded() ? 'icon-angle-down':'icon-angle-right'"></span>
    <span class="label">{{ leaf.getLabel() }}</span>

    <ul class="tree-list" ng-show="leaf.isExpanded()">
      <tree-leaf
        ng-repeat="childrenLeafs in leaf.getLeafs()"
        trunk="lefCtrl.trunk"
        leaf-data="childrenLeafs"
      ></tree-leaf>
    </ul>
  </div>
</li>