<div class="leaf-wrapper">

  <div class="leaf-container">
    <span class="label">{{ lefCtrl.leafData.getLabel() }}</span>
    <div class="action-buttons container">
      <button type="button" class="right" ng-click="lefCtrl.addLeaf()"> + </button>
      <button type="button" class="left" ng-click="lefCtrl.removeLeaf()"> - </button>
    </div>

    <input ng-if="lefCtrl.isInEditMode" type="text" class="label-input"></input>

    <tree-leaf class="leaf-child" ng-repeat="leaf in lefCtrl.leafs" leaf-data="leaf">
    </tree-leaf>
  </div>
</div>