@import "../../_global.variables";

$transition-time: .4s;
$main-color: #7cb342;
$bottom-border-width: 3px;

.leaf-infos {
  cursor: pointer;
  width: auto;
  padding: 10px 0px;
  margin-bottom: 5px;
  border-bottom: $bottom-border-width solid transparent;
  transition: border-bottom $transition-time, background $transition-time;

  &.selected {
    border-radius: 2px;
    background: $main-color;
    color: white;
  
    input.browser-default {
      color: white;
    }
  }
  
  input.browser-default, input.browser-default:focus {
    border: none;
    width: 90%;
    background: transparent;
    outline: none;
  }

  &:hover {
    border-bottom: $bottom-border-width solid $main-color;

    .material-icons.trash {
      transform: scale(1);
      opacity: 1;
    }
  }

  .material-icons.trash {
    position: absolute;
    transition: transform $transition-time, opacity ($transition-time / 2);
    right: 30px;
    transform: scale(0);
    opacity: 0;
  }
  
  .title {
    position: relative;
    padding: 5px 24px;
    transition: background .4s;
    border-radius: 4px;

    .material-icons.expansible {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: transform $transition-time;

      &.expanded {
        transform: rotate(90deg) translate(-50%, 0%);
      }
    }
  }
}

