@import "../../_global.variables";


.trunk-container{
  height:100%;
  
  ul {
    list-style: none;
    
    li {
      margin: 10px 2px;
    }
    
    &.trunk-ul {
      padding-left: 1px;
    }
  }
}
