@import "../../_global.variables";


.trunk-container {
  border: 1px solid red;
  width: 300px;
  padding: 10px;

  .trunk-search {
    display: block;
    width: 100%;
  }

  .trunk-buttons-container {
    position: relative;
    display: block;
    height: 50px;

    .left-buttons, .right-buttons{
      position: absolute
    }

    .left-buttons {
      left: 0;
    }
    .right-buttons{
      right: 0;
    }

  }
}