@import "../../_global.variables";


.trunk-container {
  border: 1px solid red;
  min-width: 300px;
  padding: 20px 5px;

  .trunk-search {
    display: block;
    width: 100%;
  }

  .trunk-buttons-container {
    position: relative;
    display: block;
    height: 50px;

    .left-buttons, .right-buttons{
      position: absolute
    }

    .left-buttons {
      left: 0;
    }
    .right-buttons{
      right: 0;
    }
  }

  ul.tree-list{
    padding-left: 0;

    li {
      list-style: none;
      border-left: 1px dashed rgba(128, 128, 128, 0.25);

      .icon{
        position: absolute;
        left:0;
      }
    }
  }
}