<html>
  <head>
    <script type="text/javascript" src="./vendor/angular/angular.js"></script>
    <script type="text/javascript" src="./templates/templates.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <link rel="stylesheet" type="text/css" href="./app.css">
    <link rel="stylesheet" type="text/css" href="./icons/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body ng-app="Tree" ng-strict-di>
    <tree-trunk></tree-trunk>
  </body>

</html>