<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="./vendor/angular/angular.js"></script>
    <script type="text/javascript" src="./templates/templates.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./vendor/materialize/dist/js/materialize.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./app.css">
    <link rel="stylesheet" type="text/css" href="./vendor/materialize/dist/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body ng-app="Tree" ng-strict-di>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>GrTree</h2>
            <h3>A simple angularJS tree</h3>
        </div>
    </div>
    <div class="input-field">
        <label for="searchInput">Search for a leaf</label>
        <input type="text" id="searchInput" ng-disabled="!trkCtrl.root.hasChildren()"
               ng-keyup="trkCtrl.doSearch($event)">
    </div>


    <tree-trunk class="trunk-container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content tree-card-content">
                        <span ng-show="!trkCtrl.root.hasChildren() && !trkCtrl.isInSearchMode" class="card-title">You need to add some leafs before using any feature.</span>
                        <span class="card-title" ng-show="trkCtrl.isInSearchMode && !trkCtrl.shownLeaf.hasChildren()">No results for your search.</span>

                        <tree-leaf
                                ng-show="trkCtrl.root.hasChildren()"
                                index="0"
                                leaf-data="trkCtrl.shownLeaf">
                        </tree-leaf>

                    </div>

                    <div class="card-action">
                        <button type="button" class="btn btn-default light-green darken-1 waves-effect"
                                ng-click="trkCtrl.closeAllTree()">Contract
                        </button>
                        <button type="button" class="btn btn-default light-green darken-1 waves-effect"
                                ng-click="trkCtrl.openAllTree()">Expand
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <form ng-submit="trkCtrl.addLeaf()">
            <div class="row">
                <div class="col s6">
                    <div class="input-field">
                        <label for="leafName">Leaf name</label>
                        <input type="text" ng-model="trkCtrl.newLeaf.label" class="form-control" id="leafName" required>
                    </div>
                </div>

                <div class="col s6">
                    <div class="input-field">
                        <input type="text" ng-model="trkCtrl.newLeaf.description" id="leafDescription">
                        <label for="leafDescription">Leaf description</label>
                    </div>
                </div>
            </div>

            <!-- Just a dummy submit button to support enter key on inputs-->
            <button ng-show="::false" type="submit"></button>
        </form>
        <button type="button" ng-click="trkCtrl.addLeaf()" class="btn btn-default light-green darken-1 light-green darken-1"
                ng-class="{'disabled': trkCtrl.newLeafIsInvalid()}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span>Add</span>
        </button>
    </tree-trunk>
</div>
</body>
</html>
