<ul class="leaf-ul browser-default" ng-init="trunk = leafCtrl.parent">

    <li class="leaf-wrapper browser-default" ng-if="leafCtrl.leafData.leafs.length" ng-repeat="leaf in leafCtrl.leafData.leafs">

        <div class="leaf-container">
            <div class="leaf-infos" ng-click="trunk.selectLeaf(leaf, $event)">

                <i class="material-icons"
                   ng-click="trunk.toggleExpanded(leaf, $event);"
                   ng-show="leaf.hasChildren()"
                   ng-class="{'expanded': leaf.expanded}">add</i>

                <h6 class="title" ng-class="{'selected': leaf.selected}">{{ leaf.label +' - '+ leaf.selected }}</h6>
            </div>

            <tree-leaf leaf-data="leaf" index="$index"></tree-leaf>
        </div>
    </li>
</ul>
