<ul class="leaf-ul browser-default" ng-init="trunk = leafCtrl.parent">

    <li class="leaf-wrapper browser-default" ng-if="leafCtrl.leafData.leafs.length"
        ng-repeat="leaf in leafCtrl.leafData.leafs">

        <div class="leaf-container">
            <div class="leaf-infos" ng-class="{'selected': leaf.selected}" ng-click="trunk.selectLeaf(leaf, $event)">
                <span class="title"
                      data-position="top" data-delay="50"
                      materialize-tooltip="!!leaf.description"
                      data-tooltip="{{::leaf.description}}">

                    <i class="material-icons expansible"
                       ng-click="trunk.toggleExpanded(leaf, $event);"
                       ng-show="leaf.hasChildren()"
                       ng-class="{'expanded': leaf.expanded}">chevron_right</i>

                    <input class="browser-default" type="text" ng-model="leaf.label"/>

                </span>
                <i class="material-icons trash" ng-click="trkCtrl.removeLeaf()">delete</i>
            </div>

            <tree-leaf leaf-data="leaf" ng-show="leaf.expanded" index="$index"></tree-leaf>
        </div>
    </li>
</ul>
